# Python byte code files
__pycache__/
izvorniKod/backend/smartCart/migrations
izvorniKod/backend/constants.txt
izvorniKod/backend/test.py
*.log
*.pot
*.pyc
*.out
izvorniKod/backend/local_settings.py
izvorniKod/backend/db.sqlite3
venv/
static/

# Documentation residues
/dokumentacija/*.aux
/dokumentacija/*.lof
/dokumentacija/*.lot
/dokumentacija/*.pdf
/dokumentacija/*.synctex.gz
/dokumentacija/*.toc
.~lock.*
*.bak

.idea/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#conflicts
*.orig
.gitignore_*