<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcart">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_smartcart"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCart"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Odabir_popisa"
            android:label="@string/title_activity_odabir_popisa"
            android:theme="@style/Theme.SmartCart.NoActionBar"></activity>
        <activity android:name=".PrikazOpisaActivity" />
        <activity android:name=".PrikazArtikla" />
        <activity android:name=".PrikazTrgovine" />
        <activity
            android:name=".PrikazStavkiActivity"
            android:label="@string/title_activity_prikaz_stavki"
            android:theme="@style/Theme.SmartCart.NoActionBar" />
        <activity
            android:name=".IzracunCijeneActivity"
            android:label="@string/title_activity_izracun_cijene"
            android:theme="@style/Theme.SmartCart.NoActionBar" />
        <activity
            android:name=".PrikazPopisaActivity"
            android:label="@string/title_activity_prikaz_popisa"
            android:theme="@style/Theme.SmartCart.NoActionBar" />
        <activity
            android:name=".Cart"
            android:label="@string/title_activity_cart" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomeScreenActivity"/>
        <activity android:name=".AccountSettingsActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>