<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Uredi artikl</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <h1>Uredi artikl: "{{artikl}}" u trgovini: "{{trgovina}}"</h1>
    <br><br>
    <form action="" method="POST">
        {%csrf_token%}
        {% for field in uredi_artikl_u_trgovini_form  %}
            <b>{{ field.label_tag }}</b><br> {{ field }}<br><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>


    <h1>Opisi artikala</h1>
    {% if opisi == '' %}
        <h2>Ovdje nema opisa</h2>
    {% endif %}

    
    {% for opis in opisi %}
        {{opis.naziv_artikla}}
        <br />
        {{opis.opis_artikla}}
        <br />
        {{opis.autor_opisa}}
        <br />
        {{opis.broj_glasova}}
        <br />
        <form action="" method="POST">
            {% for field in opis.f  %}
            <b>{{ field.label_tag }}</b><br> {{ field }}<br><br>
            {% endfor %}
            
            <input type="submit" value="Submit">  
        </form>
        <br />
        <br />
    {% endfor %}
    



</body>
</html>