<!DOCTYPE html>

<html>
    <head>

    </head>

    <body>
        <h1>Ovdje su prikazani podaci za artikl br. {{ barkod_artikla }}</h1>

        <h1>{{artikl.naziv_artikla}}</h1>
        <h2>Autor naziva artikla</h2>
        <h3>{{artikl.autor_naziva}}</h3>
        <h2>Vote count naziva</h2>
        <h3>{{artikl.vote_count_naziva}}</h3>

        <h2>Opis artikla</h2>
        <h3>{{artikl.opis_artikla}}</h2>
        <h2>Autor opisa</h2>
        <h3>{{artikl.autor_opisa}}</h2>
        <h2>Vote count opisa artikla</h2>
        <h3>{{artikl.vote_count_opisa}}</h2>

        <h2>Proizvođač</h2>
        <h3>{{artikl.proizvođač}}</h2>
        <h2>Autor proizvođača artikla</h2>
        <h3>{{artikl.autor_proizvođača}}</h2>
        <h2>Vote count proizvođača</h2>
        <h3>{{artikl.vote_count_proizvođača}}</h2>

        <h2>Zemlja porijekla</h2>
        <h3>{{artikl.zemlja_porijekla}}</h2>
        <h2>Autor zemlje porijekla</h2>
        <h3>{{artikl.autor_zemlje_porijekla}}</h2>
        <h2>Vote count zemlje porijekla</h2>
        <h3>{{artikl.vote_count_zemlje_porijekla}}</h2>

        <h2>Veganski proizvod?</h2>
        <h3>{{artikl.vegan}}</h3>

        <h3>Povratak na početnu stranicu</h3>
        <form action="/trgovac" method="GET">
            <input type="submit" value="Povratak"></input>
        </form>
        
    </body>
</html>