<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Uredi artikl</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tablica.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <h1>Uredi artikl: "{{artikl}}" u trgovini: "{{trgovina}}"</h1>
    <br><br>
    <form action="" method="POST">
        {%csrf_token%}
        {% for field in uredi_artikl_u_trgovini_form  %}
            <b>{{ field.label_tag }}</b><br> {{ field }}<br><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>

    <hr>

    <h1>Opisi artikala</h1>
    {% if opisi == '' %}
        <h2>Ovdje nema opisa</h2>
    {% endif %}

    <form action="" method="POST">
        {% for opis in opisi %}
            <table>
                <tr>
                    <td><b>Naziv artikla</b></td>
                    <td>{{opis.naziv_artikla}}</td>
                </tr>
                <tr>
                    <td><b>Opis artikla</b></td>
                    <td>{{opis.opis_artikla}}</td>
                </tr>
                <tr>
                    <td><b>Autor opisa</b></td>
                    <td>{{opis.autor_opisa}}</td>
                </tr>
                <tr>
                    <td><b>Glasovi</b></td>
                    <td>{{opis.broj_glasova}}</td>
                </tr>
            </table>
            <br>
            {% if opis.prioritiziran %}
                <tr><th><label for="id_prioritiziran">Prioritiziran:</label></th><td><input type="checkbox" name={{opis.id}} checked></td></tr>
            {% else %}
                <tr><th><label for="id_prioritiziran">Prioritiziran:</label></th><td><input type="checkbox" name={{opis.id}}></td></tr>
            {% endif %}
            <br><br><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>

    <!--TODO: ovo uredi! -->
    <!--<form action="" method="POST">
        {%csrf_token%}
        {% for field in upload_file_form  %}
            <b>{{ field.label_tag }}</b><br> {{ field }}<br><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>-->
    {% if file_err != None%}
        {{file_err}}
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ upload_file_form.as_p }}
        <input type="submit" value="Submit">
    </form>

    



</body>
</html>