<!DOCTYPE html>
<html>
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
    <title>Potvrda nove lozinke</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid text-center">
        <div class="d-flex justify-content-between">
            <a href="/">
                <img src="{% static 'logo.png'%}" class="m-2 sclogo" alt="SmartCart Logo">
            </a>
            <img src="{% static 'logo_smartcart.png'%}" class="sclogo2 m-2" alt="SmartCart Logo2">
        </div>
        <div class="d-flex flex-column justify-content-between">
            <h1>Hello there, you changed your password</h1>
            <p>Click down here to confirm your new password</p>
            <p>If you didn't change your password, ignore this message</p>
            <br>
            <form action="http://localhost:8000/potvrdi_lozinku" method="POST">

                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" name="email" value="{{ email }}">

                <input type="submit" class="btn btn-success" value="Potvrdi">
            </form>
        </div>
</body>
<footer class="d-flex justify-content-center">
    SmartCart
</footer>

</html>