<!DOCTYPE html>

{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
    <title>Uređivanje profila</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/">
                    <img src="{% static 'logo.png'%}" class="m-2" alt="SmartCart Logo">
                </a>
            </div>
            <div class="col">
            <div class="row">
                <div class="col text-center m-3">
                    <div>
                        Prijavljeni ste kao {{user.get_auth_level}}
                        <mark>{{user}}</mark>
                    </div>
                </div>
                <div class="col">
                    <form action="/logout" method="get">
                        {%csrf_token%}
                        <button type="submit" class="btn btn-danger m-3 pomakni">Log out</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

    <h1 class="text-center">Promijeni lozinku</h1>

    <div class="container-fluid">
        <form action="" method="POST">
            {%csrf_token%}
            <div class="form-group">
                <div class="d-flex flex-column">
                    {% for field in form  %}
                    <b>{{ field.label_tag }}</b> {{ field }}<br>
                    {% endfor %}
                    <input type="submit" class="btn btn-success" value="Spremi">
                    <div class="fail-login">{{message}}</div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center">
        <form action="delete_account" method="POST">
            {%csrf_token%}
            <input type="submit" value="Obriši korisnički račun" class="btn btn-danger"
                onclick="return confirm('Jeste li sigurni da želite obrisati korisnički račun?')">
        </form>
    </div>
</body>

</html>