<!DOCTYPE html>

{% load static %}
{% load socialaccount %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Prijava</title>
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
<head>

</head>

<body>
    <h1>Login stranica</h1>

    <form action="" method="POST">
        {%csrf_token%}
        {% for field in form  %}
            <b>{{ field.label_tag }}</b><br> {{ field }}<br><br>
        {% endfor %}
        <input type="submit" value="Submit">
        <div class="fail-login">{{message}}</div>
    </form>

    <a href="nova_lozinka">Zaboravio sam lozinku</a> <br />
    <a href="{% provider_login_url 'google' %}">Login with Google</a>

</body>

</html>