<!DOCTYPE html>
<html>
    <head>
        <title>Nova lozinka</title>
    </head>
    
    <body>
        <h3>Upiši svoju email adresu</h3>
        <form action="" method="POST">
            {%csrf_token%}
            {% for field in form  %}
                <b>{{ field.label_tag }}</b><br> {{ field }}<br><br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
        <!--ne daje crvenu boju??-->
        <div class="fail-login">{{message}}</div>
    </body>
</html>