<!DOCTYPE html>
{% load static %}
<html>


<head>
    <meta charset="UTF-8">
    <title>Trgovina {{ trgovina.sifTrgovina }}</title>
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'site.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
</head>


<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            <a href="/">
                <img src="{% static 'logo.png'%}" class="m-2 sclogo" alt="SmartCart Logo">
            </a>
            <div class="col">
                <form action="/trgovac" method="GET">
                    <input type="submit" class="btn btn-success m-3 float-right " value="Povratak na stranicu trgovca">
                </form>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h1>Podaci o trgovini: {{trgovina}} </h1>
        <p>Radno vrijeme :
            {{trgovina.radno_vrijeme_pocetak|time:"H:i"}}-{{trgovina.radno_vrijeme_kraj|time:"H:i"}}</p>
        <p>Pozicija trgovine: longitude {{trgovina.longitude}} latitude {{trgovina.latitude}}</p>
        <hr />
    </div>
    <div class="container-fluid">
        <button data-toggle="collapse" data-target="#artikliTable" class="btn btn-info btn-block naslov-font">
            Artikli dostupni u ovoj trgovini</button>
        <div class="d-flex justify-content-center">
            <div class="table-responsive">
                <table class="table table-hover text-center collapse" id="artikliTable">
                    <tbody class="mx-auto">
                        {% if artikli %}
                        <tr>
                            <th>Barkod</th>
                            <th>Cijena</th>
                            <th>Akcija</th>
                            <th>Dostupan</th>
                            <th></th>
                            <th></th>
                            {% endif %}
                            {% for trgartikl in artikli %}
                        <tr>
                            <td>{{ trgartikl.artikl.barkod_artikla }}</td>
                            <td>{{ trgartikl.cijena }}</td>
                            {% if trgartikl.akcija %}
                            <td>Da</td>
                            {% else %}
                            <td>Ne</td>
                            {% endif %}
                            {% if trgartikl.dostupan %}
                            <td>Da</td>
                            {% else %}
                            <td>Ne</td>
                            {% endif %}
                            <td><a class="btn btn-primary"
                                    href="{% url 'uredi_artikl_u_trgovini' trgartikl.id %}">Uredi</a></li>
                            </td>
                            <td><a class="btn btn-danger"
                                    href="{% url 'obrisi_artikl_u_trgovini' trgartikl.id %}">Obriši</a></li>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <button data-toggle="collapse" data-target="#dodavanjeArtikla" class="btn btn-info btn-block naslov-font">
            Dodaj artikl u trgovinu</button>
        <div class="collapse" id="dodavanjeArtikla">
            <div class="d-flex justify-content-center">
                <form action="/trgovina/{{trgovina.sif_trgovina}}" method="POST">
                    <!-- /0 because of parsing, stupid premanent temporary hack which works -->
                    {%csrf_token%}
                    <table class="table table-sm table-borderless">
                        {% for field in artikl_form %}
                        <tr>
                            <td><b>{{ field.label_tag }}</b></td>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="row">
                        <input type="submit" class="btn btn-success mx-auto" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <button data-toggle="collapse" data-target="#promijenaRadnoVrijeme" class="btn btn-info btn-block naslov-font">
            Promijeni radno vrijeme trgovine</button>
        <div class="collapse" id="promijenaRadnoVrijeme">
            <div class="d-flex justify-content-center m-3">
                <form action="/trgovina/{{trgovina.sif_trgovina}}" method="POST">
                    <!-- /0 because of parsing, stupid premanent temporary hack which works -->
                    {%csrf_token%}
                    <table class="table table-borderless table-sm">
                        {% for field in vrijeme_form %}
                        <tr>
                            <td><b>{{ field.label_tag }}</b></td>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="row">
                        <input type="submit" class="btn btn-success mx-auto" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <hr>

        <button data-toggle="collapse" data-target="#promijenaLokaciju" class="btn btn-info btn-block naslov-font">
            Promijeni lokaciju trgovine</button>
        <div class="collapse" id="promijenaLokaciju">
            <div class="d-flex justify-content-center m-3">
                <form action="/trgovina/{{trgovina.sif_trgovina}}" method="POST">
                    <!-- /0 because of parsing, stupid premanent temporary hack which works -->
                    {%csrf_token%}
                    {% for field in longlat_form %}
                    <b>{{ field.label_tag }}</b><br>
                    {{ field }}<br><br>
                    {% endfor %}
                    <div class="row">
                        <input type="submit" class="btn btn-success mx-auto" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <hr>
    </div>


</body>
<footer class="d-flex justify-content-center">
    SmartCart
</footer>
</html>