<!DOCTYPE html>
{% load static %}
<html>

<head>
    <head>
        <meta charset="UTF-8">
        <title>Trgovac br. {{request.user.username}}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
</head>

<body>
    <h1>Welcome, {{request.user.username}}</h1>

    <form action="logout" method="POST">
        {%csrf_token%}
        <input type="submit" value="Log out">
    </form>

    <hr />

    <h2>Pregled trgovina</h2>
    
    <ul>
        {% for t in trgovine %}
        <li>{{ t.nazTrgovina }} <a href="{% url 'trgovina' t.sifTrgovina %}">Detaljnije o trgovini</a></li> <!--ne radi-->
        {% endfor %}
    </ul>
    
    <hr />

    <h2>Pregled namirnica</h2>
    <ul>
        {% for t in artikli %}
        <li>{{ t.naziv_artikla }} <a href="{% url 'artikl' t.barkod_artikla %}">Detaljnije o namirnici</a></li> <!--štoviše, zajebava-->
        {% endfor %}
    </ul>
    <hr />

    <h2>Dodavanje trgovina</h2>

    <form action="/trgovac/dodaj-trgovine" method="POST">
        {%csrf_token%}
        <label for="sifTrgovina">Sifra trgovine</label><br>
        <input type="text" id="sifTrgovina" name="sifTrgovina" value=""><br>
        <label for="nazTrgovina">Naziv trgovine</label><br>
        <input type="text" id="nazTrgovina" name="nazTrgovina" value=""><br>
        <input type="submit" value="Submit">
    </form>

    <hr />

    <h2>Dodavanje namirnica</h2>

    <form action="/trgovac/dodaj-artikle" method="POST">
        {%csrf_token%}
        <label for="barkod_artikla">Barkod artikla</label><br>
        <input type="text" id="barkod_artikla" name="barkod_artikla" value=""><br>

        <label for="naziv_artikla">Naziv artikla</label><br>
        <input type="text" id="naziv_artikla" name="naziv_artikla" value=""><br>

        <label for="opis_artikla">Opis artikla</label><br>
        <input type="text" id="opis_artikla" name="opis_artikla" value=""><br>

        <label for="proizvođač">Proizvođač</label><br>
        <input type="text" id="proizvođač" name="proizvođač" value=""><br>

        <label for="zemlja_porijekla">Zemlja porijekla</label><br>
        <input type="text" id="zemlja_porijekla" name="zemlja_porijekla" value=""><br>

        <label for="vegan">Proizvod je veganski?</label><br>
        <input type="text" id="vegan" name="vegan" value=""><br>

        <input type="submit" value="Submit">
    </form>

    <hr />


</body>



</html>