<!DOCTYPE html>
{% load static %}
<html>

<head>
    <head>
        <meta charset="UTF-8">
        <title>Trgovina br. {{ sifTrgovina }}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
</head>

<body>
    <h1>Ovdje su prikazani podaci za trgovinu {{nazTrgovina}} </h1>
    <h1>Sifra trgovine : {{ sifTrgovina }}</h1>

    <hr>

    <h2>Artikli dostupni u ovoj trgovini</h2>
    <ul>
        {% for t in artikli %}
        <li>{{ t.naziv_artikla }} <a href="{% url 'artikl' t.barkod_artikla %}">Detaljnije o namirnici</a></li> <!--štoviše, zajebava-->
        {% endfor %}
    </ul>
    <hr>

    <h2>Dodaj artikle u ovu trgovinu</h2>
    <form action="/trgovina/{{sifTrgovina}}" method="POST"> <!-- /0 because of parsing, stupid premanent temporary hack which works -->
        {%csrf_token%}
        <label for="barkod">Barkod</label><br>
        <input type="text" id="barkod" name="barkod" value=""><br>
        <input type="hidden" id="sifTrgovina" name="sifTrgovina" value="{{sifTrgovina}}"><br>
        <input type="submit" value="Submit">
    </form>

    <h3>Povratak na početnu stranicu</h3>
    <form action="/trgovac" method="GET">
        <input type="submit" value="Povratak">
    </form>

</body>

</html>